@font-face {
    font-family: "Whiskey Town";
    src: url("/static/fonts/WhiskeyTown.ttf");
}

body {
    background: -webkit-radial-gradient(circle,  rgb(84,49,19), rgb(45,26,10));
    background: -moz-radial-gradient(50% 60px 1deg, circle closest-corner, rgb(84,49,19) 50%, rgb(45, 26, 10) 95%);
}

.container {
    background: -webkit-linear-gradient(top, rgb(222,210,196), rgb(235,222,206));
    background: -moz-linear-gradient(top, rgb(222,210,196), rgb(235,222,206));
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: rgb(63,29,0);
}

.container h1 {
    text-align: center;
    font-family: "Whiskey Town", Georgia, serif;
    font-size: 42pt;
}

.container h2 {
    text-align: left;
    margin-left: 12px;
    font-family: "Whiskey Town", Georgia, serif;
    font-size: 36pt;
}

.container p {
    font-family: "Arial", Georgia, serif;
    font-size: 12pt;
    text-align: center;
}

.container ul {
    list-style-type: none;
    font-size: 16pt;
}

.rounded-corners {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}